@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&family=Pacifico&display=swap');

.first {
   
    color: darkblue;
    font-size: 20px;
    font-family: "Monsieur La Doulaise";
    font-weight: 400;
  font-style: normal;
  font-weight: bold;
  border: 10px solid green;
  border-radius: 30px;
  text-align: center;
  margin: 35px;

}
.second {
    color: darkgoldenrod;
    font-size: 20px;
    font-family: "Monsieur La Doulaise";
    font-weight: 400;
  font-style: normal;
  font-weight: bold;
  border-bottom: 10px solid red;
  border-left: 10px solid red;
  border-right: 10px solid red;
  border-radius: 30px;
  text-align: center;
  margin: 35px;

}