
.up {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    background: linear-gradient(to bottom left, #323264, #323264, #643E72);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

@media (max-width: 1199px) {
    .container-head, .nav {
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }
}
@media (max-width: 991px) {
    .container-head, .nav {
    gap: 15px;
    margin-bottom: 15px;
    }
}

@media (max-width: 767px) {
    .intro-container {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }
    
    .big-h {
        width: 350px;
    }
    .header-content h1 {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .intro-container {
       
    }
}


.logo {
    color: white;
    font-size: 24px;
    display: flex;
    flex-direction: column;
}

.logo .h {
    color: #e6007e;
    font-weight: bold;
}

.logo .law-company {
    font-size: 10px;
    letter-spacing: 2px;
    margin-top: 5px;
    
}


.header-info {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 12px;
}

.language a {
    color: #fff;
    margin-right: 5px;
}

.language a.active {
    background: #e6007e;
    padding: 2px 6px;
    border-radius: 10px;
    
}

.phone {
    font-weight: bold;
}

.nav {
    display: flex;
    justify-content:flex-end;
    gap: 10px;
    font-size: 14px;
    margin-top: 10px;
}
.nav a {
    color: white;
  
}

.header-content {
    text-align: center;
    position: relative;
    height: 80vh;
}


.big-h {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 650px;
    opacity: 0.85;
}

.header-content h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 38px;
    font-weight: bold;
    white-space: nowrap;
}

.scroll-down {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    cursor: pointer;
}

.arrow-circle {
    border: 2px solid #b3b3c3;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.arrow {
    color: white;
    font-size: 20px;
    transition: all 0.3s ease;
}

.arrow-circle:hover {
    border-color: #e6007e;
}

.arrow-circle:hover .arrow {
    color: #e6007e;
}

.intro {
    padding: 100px;
    color: white;
    margin-top: 60px;
}

.intro-container {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: flex-start;
    margin-top: 100px;
    position: relative;
}

 .intro-left {
   flex: 1;
   
}

.intro-item {
    margin-bottom: 20px;
  }

.intro-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.intro-link {
    font-size: 36px;
    color: #B3B3BA;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    

}

.intro-link.active,
.intro-link:hover {
    background: linear-gradient(90deg, #EF8080 0%, #F0145A 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro-link.active::after,
.intro-link:hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, #EF8080 0%, #F0145A 100%);
}


.intro-divider {
    width: 1px;
    height: 100%;
    background-color: rgba(183, 180, 180, 0.9);
    margin: 0 40px;
}

.intro-right {
    flex: 1;
    max-width: 450px;

}

.intro-right h3 {
    font-size: 30px;
    margin-bottom: 20px;
    
}

.intro-right p {
    font-size: 19px;
    line-height: 1.2;
    color: #cecaca;
}

.services-link {
    display: inline-block;
    color: #24A3FF;
    margin-bottom: 20px;
    font-size: 14px;

}

.services-title {
    color: #e6007e;
    font-size: 38px;
    margin-bottom: 50px;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.service-card {
    background: rgba(255, 255, 255 0.5);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease;
}

.service-card:hover {
    transform: translateY(-10px);
}

.services-card img {
    width: 50px;
    margin-bottom: 20px;
    
}

.service-card  h3 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #24A3FF;
}

.service-card p {
    font-size: 16px;
    line-height: 1.5;
    color: #cecaca;
}

.team-carousel__container {
    position: relative;
    max-width: 1200px;
    margin: 80px auto;
    overflow: hidden;

}

.team-carousel__slides {
    display: flex;
    transition: transform 0.5s ease;
}

.team-carousel__slide {
    min-width: 100%;
    display: none;
    align-items: center;
    gap: 40px;
    
}

.team-carousel__slide.active {
    display: flex;
}

.team-carousel__slide img {
    max-width: 300px;
    border-radius: 10px;
}

.team-carousel__info {
    max-width: 600px;
}

.team-carousel__subtitle {
    color: #24A3FF;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 14px;
}

.team-carousel__quote {
    color: #F0145A;
    font-size: 38px;
    font-weight: 700;
    line-height: 1.1;
}

.team-carousel__name,
.team-carousel__position {
    color: #b3b3ba;
    margin-top: 10px;
}

.team-carousel__pagination {
    text-align: center;
    margin-top: 20px;
}
.team-carousel__dot {
    width: 12px;
    height: 12px;
    margin: 0 8px;
    background: #24a3ff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.5;
}

.team-carousel__dot.active {
    opacity: 1;
}

.clients-section {
    background-color: #f9f9f9;
    padding: 30px 0;
    text-align: center;
}

.clients-header h2 {
    font-size: 14px;
    color: #333;
    letter-spacing: 2px;
    margin-bottom: 40px;
    font-weight: bolder;
}

.clients-logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1200px;
    margin: 0 auto;
}

@media (min-width: 1440px) {
    .clients-logos {
        grid-template-columns: repeat(6, 1fr);
        gap: 20px;
    }
    .logo-item {
        height: 150px;
    }
}

@media (max-width: 768px) {
    .clients-logos {
        grid-template-columns: repeat(2, 1fr);
    }
    .logo-item {
        height: 100px;
    }
    .clients-header h2 {
        font-size: 12px;
        margin-bottom: 30px;
    }
}

@media (max-width: 480px) {
    .clients-logos {
        grid-template-columns: 1fr;
    }
    .logo-item {
        height: 80px;
    }
    .clients-header h2 {
        font-size: 11px;
        margin-bottom: 20px;
    }
}

@media (max-width: 320px) {
    .clients-logos {
        grid-template-columns: 1fr;
        gap: 5px;
    }
    .logo-item {
        height: 70px;
    }
    .clients-header h2 {
        font-size: 10px;
    }
}

.logo-item {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 130px;
    border: 1px solid #eee;
    transition: transform 0.3s;
}

.logo-item img {
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
}

.logo-item:hover {
    transform: scale(1.05);
}

.item-img1 {
    background: #1C4280; 
}

.item-img2 {
    background: #143646;
}
.item-img3 {
    background: #F48B30;
}
.item-img4 {
    background: #9E4DC3;
}
.item-img5 {
    background: #FD9339;
}
.item-img6 {
    background: #E2E2E4;
}
.item-img7 {
    background: #C71C36;
}
.item-img8 {
    background: #DCF3F9;
}
.item-img9 {
    background: #EAEAEA;
}
.item-img10 {
    background: #282240;
}
.item-img11 {
    background: #1D4568;
}
 .item-img12 {
    background: #000000;
} 



.publications {
    padding: 50px 0;
    background-color: #F5F5FA;
    max-width: 1200px;
    margin: 0 auto;
}

.publications-header {
    text-align: start;
    margin-bottom: 30px;

}

.publications-subtitle {
    text-transform: uppercase;
    color: #0d6efd;
    font-weight: bold;
    margin: 0;
    font-size: 14px;
}

.publications-subtitle span {
    color: #0d6efd;
    font-weight: bold;
}

.publications-title {
    font-size: 38px;
    font-weight: bold;
    color: #f14c7f;
    margin: 10px 0;

}

.publications-cards {
    display: flex;
    gap: 30px;
    margin-top: 40px;
}

.publication-card {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    flex: 1;
    display: flex;
    flex-direction: column;
}

@media (max-width: 1199px) {
    .publications-cards {
      justify-content: center;
    }
    .publication-card {
      flex: 1 1 45%;
    }
  }

.publication-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    color: #0d6efd;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    margin-bottom: 10px;
}

.card-date {
    text-transform: uppercase;
    font-size: 12px;
    color: #B3B3BA;
    margin-bottom: 15px;
    border-bottom: 2px solid #dee2e6;
    padding-bottom: 10px;
}

.card-text {
    color: #212529;
    font-size: 14px;
    line-height: 1.5;
}

.footer {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #F5F5FA;
    padding: 30px 0;
    border-top: 1px solid #E6E6F0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}

@media (max-width: 1199px) {
    .footer-content {
      flex-direction: row;
      justify-content: space-between;
    }
    .footer-left, .footer-right {
      width: 45%;
    }
  }

  @media (max-width: 991px) {
    .footer-content  {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    .footer-left, .footer-right {
      width: 100%;
      margin-bottom: 15px;
    }
    .footer-contacts {
      flex-direction: column;
      gap: 10px;
    }
    .publication-card {
        flex: 1 1 90%;
      }
  }

  @media (max-width: 767px) {
    .container {
      padding: 0 10px;
    }
  
    .footer-social {
      width: 20px;
      height: 20px;
    }
  
    .footer-phone, .footer-email {
      font-size: 14px;
    }
  
    .publications-cards {
      flex-direction: column;
      gap: 20px;
    }
  
    .publication-card img {
      width: 100%;
      height: auto;
    }
    .publications-title {
        font-size: 28px;
        text-align: center;
      }
      .card-text {
        font-size: 13px;
      }
  }

  @media (max-width: 480px) {
    .publication-card {
      flex: 1 1 100%;
    }
    .container {
      padding: 10px;
    }
    .footer-content {
      gap: 10px;
    }
  }

  @media (max-width: 320px) {
    .publications-title {
      font-size: 22px;
    }
    .footer-phone, .footer-email {
      font-size: 12px;
    }
    .card-title {
      font-size: 14px;
    }
  }

.footer-left p {
    margin: 0;
    font-size: 16px;
    color: #323264;
    margin-bottom: 10px;
}

.footer-right p {
    margin: 40px 0;
    font-size: 16px;
    color: #B3B3BA;
    text-align: right;
}

.footer-left a {
    color: #0d6efd;
    text-decoration: none;
    font-weight: bold;
}

.footer-contacts {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

.footer-social {
    width: 24px;
    height: 24px;
}

.footer-phone {
    font-weight: bold;
    font-size: 16px;
    margin: 0;
}

.footer-email a {
    text-decoration: none;
    color: #0d6efd;
    font-weight: bold;
    font-size: 16px;
}
