
.up {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    background: linear-gradient(to bottom left, #323264, #323264, #643E72);
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.container-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    
    
}


.logo {
    color: white;
    font-size: 24px;
    display: flex;
    flex-direction: column;
}

.logo .h {
    color: #e6007e;
    font-weight: bold;
}

.logo .law-company {
    font-size: 10px;
    letter-spacing: 2px;
    margin-top: 5px;
    
}


.header-info {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 12px;
}

.language a {
    color: #fff;
    margin-right: 5px;
}

.language a.active {
    background: #e6007e;
    padding: 2px 6px;
    border-radius: 10px;
    
}

.phone {
    font-weight: bold;
}

.nav {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    font-size: 14px;
}
.nav a {
    color: white;
  
}

.header-content {
    text-align: center;
    position: relative;
    height: 80vh;
}


.big-h {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 650px;
    opacity: 0.85;
}

.header-content h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    white-space: nowrap;
}

.scroll-down {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    cursor: pointer;
}

.arrow-circle {
    border: 2px solid #b3b3c3;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.arrow {
    color: white;
    font-size: 20px;
    transition: all 0.3s ease;
}

.arrow-circle:hover {
    border-color: #e6007e;
}

.arrow-circle:hover .arrow {
    color: #e6007e;
}

.intro {
    padding: 100px;
    color: white;
    margin-top: 60px;
}

.intro-container {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: flex-start;
    margin-top: 100px;
    position: relative;
}

 .intro-left {
   flex: 1;
   
}

.intro-item {
    margin-bottom: 20px;
  }

.intro-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.intro-link {
    font-size: 36px;
    color: #B3B3BA;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    

}

.intro-link.active,
.intro-link:hover {
    background: linear-gradient(90deg, #EF8080 0%, #F0145A 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro-link.active::after,
.intro-link:hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, #EF8080 0%, #F0145A 100%);
}


.intro-divider {
    width: 1px;
    height: 100%;
    background-color: rgba(183, 180, 180, 0.9);
    margin: 0 40px;
}

.intro-right {
    flex: 1;
    max-width: 450px;

}

.intro-right h3 {
    font-size: 30px;
    margin-bottom: 20px;
    
}

.intro-right p {
    font-size: 19px;
    line-height: 1.2;
    color: #cecaca;
}

.services-link {
    display: inline-block;
    color: #24A3FF;
    margin-bottom: 20px;
    font-size: 14px;

}

.services-title {
    color: #e6007e;
    font-size: 38px;
    margin-bottom: 50px;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.service-card {
    background: rgba(255, 255, 255 0.5);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease;
}

.service-card:hover {
    transform: translateY(-10px);
}

.services-card img {
    width: 50px;
    margin-bottom: 20px;
    
}

.service-card  h3 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #24A3FF;
}

.service-card p {
    font-size: 16px;
    line-height: 1.5;
    color: #cecaca;
}

.team-carousel__container {
    position: relative;
    max-width: 1200px;
    margin: 80px auto;
    overflow: hidden;

}

.team-carousel__slides {
    display: flex;
    transition: transform 0.5s ease;
}

.team-carousel__slide {
    min-width: 100%;
    display: flex;
    align-items: center;
    gap: 40px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.team-carousel__slide.active {
    opacity: 1;
}

.team-carousel__slide img {
    max-width: 300px;
    border-radius: 10px;
}

.team-carousel__info {
    max-width: 600px;
}

.team-carousel__subtitle {
    color: #24A3FF;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 14px;
}

.team-carousel__quote {
    color: #F0145A;
    font-size: 38px;
    font-weight: 700;
    line-height: 1.1;
}

.team-carousel__name,
.team-carousel__position {
    color: #b3b3ba;
    margin-top: 10px;
}

.team-carousel__pagination {
    text-align: center;
    margin-top: 20px;
}
.team-carousel__dot {
    width: 12px;
    height: 12px;
    margin: 0 8px;
    background: #24a3ff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.5;
}

.team-carousel__dot.active {
    opacity: 1;
}


.partners {
    padding: 50px 0;
    text-align: center;
}

.partners-grid {
    display: flex;
    justify-content: center;
    /* gap: 20px; */
    flex-wrap: wrap;
    align-items: center;
   
   
}

.item-img {
    
    width: 360px;
    height: 120px;
    
   
}

.partners-grid img {
   width: 120px;
}

.item-img1 {
    background: #1C4280;
    width: 360px;
    height: 120px;
    
}

.item-img2 {
    background: #143646;
    width: 360px;
    height: 120px;
    
}
.item-img3 {
    background: #F48B30;
    width: 360px;
    height: 120px;
    
}
.item-img4 {
    background: #9E4DC3;
    width: 360px;
    height: 120px;
    
}
.item-img5 {
    background: #FD9339;
}
.item-img6 {
    background: #E2E2E4;
}
.item-img7 {
    background: #C71C36;
}
.item-img8 {
    background: #DCF3F9;
}
.item-img9 {
    background: #EAEAEA;
}
.item-img10 {
    background: #282240;
}
.item-img11 {
    background: #1D4568;
}
.item-img12 {
    background: #000000;
}