body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    margin: 0 auto;
    max-width: 1400px;
    padding: 0;
}
.footer-section h3 {
    font-weight: bold;
}

.footer {
    background-color: #f8f8f8;
    padding: 50px 0;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    padding-bottom: 20px;
  
}
.footer-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 23%;
    gap: 10px;
    padding: 5px 10px;
    height: 202px;
    border-left: 1px solid #ddd;
    margin: 0 15px;
    
}
.footer-section p {
    color: #777;
}


.footer-newsletter {
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 30px 10px;
    height: 202px;
    margin: 0 15px;
}



.footer-newsletter h3 {
    font-weight: bold;
}
.footer-newsletter p {
    color: #777;
}
.footer-newsletter form {
    display: flex;
    width: 100%;
    gap: 5px;
    margin: 10px 0;
}

.footer-newsletter input {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.footer-newsletter button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}
.footer-newsletter button:hover {
    background-color: #45a049;
}

/* середина */
.footer-middle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: #777;
    padding: 15px;
    margin: 20px 0;
    background: rgb(237,246,239);
    background: linear-gradient(90deg, rgba(237,246,239,1) 0%, rgba(82,195,104,1) 100%);
}

.footer-logo img {
    width: 40px;
}
.footer-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    color: #45a049;
}

/* foot */

.footer-bottom {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   gap: 20px;
   padding: 20px 10px;
   margin: 0 15px;
   border-bottom: 2px solid #e6e4e4;
}

.footer-bottom h4 {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
}

.footer-bottom ul {
    list-style: none;
    padding: 0;
    font-size: 14px;
    color: #777;
    
}

.footer-bottom ul li {
    margin-bottom: 10px;
}

.footer-social {
    display: flex;
    flex-direction: column;
    flex: 0.36;
    align-items: flex-start;
    gap: 10px;
    margin: 0 15px;
    padding: 0 5px;
    

}

.social-icons,
.payment-icons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    }

.footer-copyright {
    text-align: center;
    font-size: 14px;
    padding: 10px 0;
    font-size: 14px;
    color: #777;
}