@font-face {
    font-family: "Cera Pro";
    src: url("/Fonts/Fontspring-DEMO-cerapro-regular.otf") format("OpenType");
}

body {
    font-family: "Cera Pro";
}
h1 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
    
}
p {
    text-align: center;
    margin-bottom: 15px;
    color: #767272;
}
.top-boxes {
    max-width: 1202px;
    display: flex;
    justify-content: center;
    padding: 15px;
    gap: 15px;
    
    background-color: rgb(255, 255, 255);
}
.box {
    display: flex;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(224, 219, 219);
    flex: 1;

}

.elem-top img {
    width: px;
    
}
.box-content  {
    padding: 15px;
}
.box-content h4 {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: bold;
    text-align: right;
}
.box-content p {
font-size: 13px;
margin-bottom: 15px;
color: rgb(107, 105, 105);
text-align: right;
}
.box-content a {
    text-decoration: none;
    text-align: right;
    font-weight: bold;
    color: white;
    padding: 5px;
    background: rgb(60, 185, 60);
    border: 1px solid rgb(59, 171, 59);
    border-radius: 4px;
}
.elem-top { 
    display: flex;

}
.box-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
   
    padding-left: 160px;
}
                                    
/* Foot-img */


.foot {
    padding: 15px;
    background-color: rgb(255, 255, 255);

}
.foot-boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 15px;
    padding: 15px;
    

    max-width: 1202px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(194, 189, 189);
    
}
.foot-box {
    display: flex;
    flex-direction: column;
    

   
    width: 250px;
    gap: 10px;
    padding: 15px;
}
.blog-box {
   
   padding: 5px;
    
}
.blog-box h4 {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;

}
.blog-box p {
    font-size: 14px;
    margin-bottom: 5px;
    color: #767272;

}
.blog-box a {
    text-decoration: none;
    color: rgb(48, 174, 48);
    font-weight: bold;
}
